{% extends 'layout.html' %}

{% block content %}
<h1 class="mb-3">Bills</h1>

<div class="table-responsive">
  <table class="table table-hover" data-tablesorter>
    <thead>
      <th>Id</th>
      <th>Initial date</th>
      <th>Close date</th>
      <th class="text-right">Total usage (kWh)</th>
      <th class="text-right">Peak usage (kW)</th>
      <th class="text-right">Amount</th>
    </thead>
    <tbody>
      {% for bill in bills['data'] %}
      <tr>
        <td>{{ bill['id'] }}</td>
        <td>{{ bill['attributes']['initial'] }}</td>
        <td>{{ bill['attributes']['closing'] }}</td>
        <td class="text-right">{{ bill['attributes']['used'] | int }}</td>
        <td class="text-right">{{ bill['attributes']['peak'] | int }}</td>
        <td class="text-right">$ {{ bill['attributes']['cost'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="text-center">Total bills: {{ bills['data'] | length }}</div>

{% endblock %}
